{% extends 'main.html' %}

{% block content %}
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4"><b>Bem vindo de volta!</b></h3>
    
                    <!-- Sign In Form -->
                    <form name="formPainel" id="formPainel" method="post" action="/dologin/">

                    {% if msg %}
                        <div class="alert {{class}}">
                            {{msg}}
                        </div>
                    {% endif %}

                    {% csrf_token %}

                    <!-- <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome do Usuário:"> -->

                    <div class="form-floating mb-3">
                        <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome do Usuário:">
                        <label for="floatingInput">Usuário</label>
                    </div>

                    <!-- <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha:"> -->

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        <label for="floatingPassword">Senha</label>
                    </div>
    
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                        <label class="form-check-label" for="rememberPasswordCheck">
                        Lembrar senha:
                        </label>
                    </div>
    
                    <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Entrar</button>
                        <div class="text-center">
                        <a class="small" href="#">Esqueceu sua senha?</a><br><a class="d-block text-center mt-2 small" href="/create/">Faça seu cadastro:</a>
                        </div>
                    </div>
    
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}